<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailyBlog</title>
    <link rel="stylesheet" href="css/styleHome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--FONT-AWESOME--->
    <script src="https://kit.fontawesome.com/2a8c4a7fac.js" crossorigin="anonymous"></script>

</head>

<body>

    <nav>
        <div class="navHead">DailyBlog</div>
        <div class="menu"><img width="26px" src="/images/menu.png" alt=""></div>
        <div class="navigation navItem hidden">
            <span>
                <a href="/contact">CONTACT US</a>
            </span>
            <span>
                <a href="/post/DailyBlog">ABOUT US</a>
            </span>
            <span>
                <a href="/compose">COMPOSE</a>
            </span>
        </div>
    </nav>

    <!-- jQery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script src="/js/menu.js"></script>