<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<div class="intro">
    <h1>HOME</h1>
    <div class="line"></div>
    <p>DailyBlog is an online bloging website made by Kumar Ayush as a personal development project. This website is
        a dynamic website which enables user to post to their blogs through compose page and get listed on home
        page, users can also read posted Blogs in home page by clicking on it.<br>Technologies used : </p>
    <ul>
        <li>html</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>BootStrap</li>
        <li>NodeJs</li>
        <li>Express</li>
        <li>EJS</li>
    </ul>
</div>
