<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailyBlog</title>
    <link rel="stylesheet" href="css/styleHome.css">
</head>
<body>
    <div class="bg">
        <div class="hero"></div>
        <div class="title">
            <div class="animation">
                <span class="first">DailyBlog</span>
                <span class="slide">
                    <form action="/" method="post">
                        <button type="submit" style="
                            background-color: rgba(240, 248, 255, 0); 
                            border: none;  
                            color: white;
                            cursor: pointer;
                        "><span class="second">Click To Explore!</span></button> 
                        <p style="
                            background-color: rgba(240, 248, 255, 0.146);
                            border-radius: 15px;
                            padding: 8px 15px;
                            backdrop-filter: blur(14px);
                            margin-top: 20px;
                        ">Please wait for few seconds before connection is estblished with the database</p>
                    </form>
                </span>
            </div>
        </div>
    </div>
</body>
</html>